.container {
    width: 50%;
    margin: 100px auto;
    font-family: Arial, Tahoma
}

.container .item-list {
    border: 1px solid #CCC;
    padding: 5px 15px;
    margin-bottom: 20px;
    display: flex
}

.container .item-list .img-list {
    display: flex;
    align-items: center
}

.container .item-list .img-list img {
    border: 1px solid #CCC;
    border-radius: 50%;
    margin-right: 20px
}

h3 {
     margin-bottom: 0
}
