ul.breadcrumb {
    padding-left: 0;
    background: lightgreen
}

ul.breadcrumb li {
    display: inline
}

ul.breadcrumb li::before {
    content: " > "
}

ul.breadcrumb li:first-child::before {
    content: ""
}



