body {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    background: #DDD;
    margin-top: 0;
    padding: 10px;
    border-radius: 5px
}

button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background-color: #080;
    color: #FFF
}

input[type="text"] {
    padding: 5px 10px
}

button:disabled {
    background-color: #F00;
    color: #FFF
}

ul li {
    margin-bottom: 5px 10px
}